body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
.ani{
    color:orange;
}
section{
    display: flex;
}
.half-width{
    width:50%;
    padding-left: 5%;
}
.half-width img{
    width :80%;
}
p{
    border :20px;
    text-align: justify;
}