body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.ani{
    color:orange;}
.flexible-container
{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width:50%;
    padding-left: 5%;
}
.half-width img{
    width :80%;
}
p{
    border :20px;
    text-align: justify;
}
.text-button{
    text-decoration: none;
    background-color: rgb(237, 78, 57);
    padding :10px 40px;
    font-size: 15px;
    border-radius: 5px;
    color : white;
    font-weight: 700;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.middle-banner{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.bottom-banner{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position :left;
}
.web{
    color :orange;
}
.experience-item{
    box-shadow: 10px 10px 10px gray;
    margin-left: 5px;
    margin-right: 5px;
    padding :40px;
    width:50%;
   
}
#one{
    border-left: 7px solid orangered;
}
#two{
    border-left: 7px solid blue;
}
footer p{
    text-align :center;
}
