body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
.ani{
    color:orange;}
.flexible-container
{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width:50%;
    padding-left: 5%;
}
.half-width img{
    width :80%;
}
p{
    border :20px;
    text-align: justify;
}
.text-button{
    text-decoration: none;
    background-color: rgb(237, 78, 57);
    padding :10px 40px;
    font-size: 15px;
    border-radius: 5px;
    color : white;
    font-weight: 700;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.middle-banner{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.web{
    color :orange;
}
